<div class= "text-center padded">
  <h1><%= @cocktail.name %></h1>
  <p class= "list-inline"><%= link_to "All cocktails", cocktails_path, class: 'btn btn-primary' %></p>
  <p class= "list-inline"><%= link_to "Create a new cocktail", new_cocktail_path, class: 'btn btn-primary' %></p>

  <h1>doses</h1>
  <p class= "list-inline"><%= link_to "Create a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %></p>

  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %></p>
  <% end %>
</div>

</div>
