<%= simple_form_for(@dose) do |f| %>
  <% if @dose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dose.errors.count, "error") %> prohibited this dose from being saved:</h2>

      <ul>
      <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :ingredient %>
  <div class="actions">
    <%= f.button :submit, class: 'btn btn-primary'%>
  </div>
<% end %>
